# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np 
import pandas as pd 
import seaborn as sns

from my_modules import my_functions as mybib
from my_modules import lab_functions as lab

# change the color palette for seaborn functions
sns.set_theme(palette = "crest")

%load_ext autoreload
%autoreload 2

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salary = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salary.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [111]:
salary = mybib.clean_column_names(salary)
columns = salary.columns

In [112]:
# Your code here:

for col in columns:
     count = salary[col].isna().sum()
     total = len(salary)
     
     print(f"""
Column {col}: {count} NaN of {total} total rows -> {count/total*100:.2f}%""")

Column name: 0 NaN of 33702 total rows -> 0.00%

Column job_titles: 0 NaN of 33702 total rows -> 0.00%

Column department: 0 NaN of 33702 total rows -> 0.00%

Column full_or_part-time: 0 NaN of 33702 total rows -> 0.00%

Column salary_or_hourly: 0 NaN of 33702 total rows -> 0.00%

Column typical_hours: 25528 NaN of 33702 total rows -> 75.75%

Column annual_salary: 8174 NaN of 33702 total rows -> 24.25%

Column hourly_rate: 25528 NaN of 33702 total rows -> 75.75%

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [113]:
# Your code here:
print(salary['typical_hours'].value_counts(dropna=False))
print(salary['annual_salary'].value_counts(dropna=False))
print(salary['hourly_rate'].value_counts(dropna=False))

NaN     25528
40.0     5920
20.0     1928
10.0      235
35.0       91
Name: typical_hours, dtype: int64
NaN         8174
90024.0     1743
84054.0     1500
93354.0     1469
72510.0     1307
            ...
113304.0       1
107112.0       1
80088.0        1
69720.0        1
65976.0        1
Name: annual_salary, Length: 925, dtype: int64
NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: hourly_rate, Length: 179, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [114]:
# Your code here:

salary.department.value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [115]:
# Your code here:

hourly_workers = salary.dropna(subset=['hourly_rate'])

display(hourly_workers.head())

hourly_rates = hourly_workers.hourly_rate
hourly_rates

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [116]:
# we select a value for alpha of 0.05
# Two-sided test:
# Null hypothesis or H0: mean hourly rate = 30
# Alternative hypothesis: mean hourly rate <> 30


from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_rates, 30)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [117]:
# Your code here:

police_data = salary[(salary['department'] == 'POLICE') & (salary['salary_or_hourly'] == 'Salary')]

# display(police_data)

# we select a value for alpha of 0.05
# Two-sided test:
# Null hypothesis or H0: mean hourly rate >= 86000
# Alternative hypothesis: mean hourly rate < 86000
police_salary = police_data['annual_salary']
display(police_salary)

stat1, pval1 = ttest_1samp(police_salary, 86000)
print('stat is  ', stat1)
print('pvalue for the two-tailed test is ', pval1/2)

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: annual_salary, Length: 13824, dtype: float64

stat is   18.51748561981861
pvalue for the two-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [118]:
# Your code here:

data_crosstab = pd.crosstab(salary['department'], salary['salary_or_hourly'])
data_crosstab

salary_or_hourly     Hourly  Salary
department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [119]:
# Your code here:


streets_and_san_hourly = salary[(salary['department'] == 'STREETS & SAN') & (salary['salary_or_hourly'] == 'Hourly')]


# we select a value for alpha of 0.05
# Two-sided test:
# Null hypothesis or H0: mean hourly rate >= 35
# Alternative hypothesis: mean hourly rate < 35

stat2, pval2 = ttest_1samp(streets_and_san_hourly['hourly_rate'] , 35)
print('stat is  ', stat2)
print('pvalue for the two-tailed test is ', pval2/2)

stat is   4.000138803968834
pvalue for the two-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [126]:
# Your code here:

hourly_workers = salary[salary['salary_or_hourly'] == 'Hourly']



import scipy.stats

confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(hourly_workers['hourly_rate']) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly_workers['hourly_rate'])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_workers['hourly_rate']) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [127]:
# Your code here:
confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(police_data['annual_salary']) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(police_data['annual_salary'])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police_data['annual_salary']) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [122]:
# Your code here: